:root {
    background-color: #000 !important;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

#console {
    color: #fff;
    max-width: 90%;
    width: 750px;
    margin: 100px auto;
    font-size: 16px;
    overflow-wrap: break-word;
}

a {
    color: #0bc;
    text-decoration: none;
}

#a {
    color: #0f0;
}

#b {
    color: #ff0096;
}

#c {
    color: #0bc;
}

#k {
    animation: change 1s infinite alternate;
}

#op {
    color: #888888;
}

@keyframes change {
    0% { color: #0f0; }
    50% { color: #0f0; }
    99% { color: black; }
}

#cursor {
    display: inline-block;
    width: 8px;
    height: 16px;
    background-color: #0f0;
    animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
